
# Created by https://www.gitignore.io/api/sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log


# End of https://www.gitignore.io/api/sbt,scala

docs/mdoc-out/*.md
docs/mdoc-out/*.html

server/src/main/resources/*.html
.idea
.metals
.bloop
project/.bloop
project/metals.sbt
.bsp
.vscode
metals.sbt
.DS_Store
worksheet.sc
